.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -25vh;

  @include phone-small {
    padding-bottom: 15rem;
  }
}

.about-content-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: 5rem;

  @include respond(tab-port) {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 6rem;
    margin: 1rem;
  }

  .about-content {
    width: 40%;

    @include respond(tab-port) {
      width: 70%;
    }

    .btn-text {
      display: inline-block;
      margin-top: 2rem;
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: none;
      border-bottom: 2px solid $color-primary-dark;
      @include transition-ease;

      &:any-link {
        color: $color-primary-dark;
      }

      &:hover,
      &:focus {
        background-color: $color-primary-dark;
        color: $color-white;
        transform: translateY(-3px);
      }

      &:active {
        transform: translateY(1px);
        box-shadow: 0 5px 10px rgba($color-black, 0.6);
      }
    }
  }
}

.section-features {
  padding: 10rem 0;
  margin-top: -9rem;
  background: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../../img/nat-4.jpg) top;
  background-size: cover;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  @include respond(phone) {
    padding: 3rem 0;
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 10rem 0;
  margin-top: -25vh;

  @include respond(tab-port) {
    padding-top: 35rem;
  }

  @include respond(phone) {
    padding-top: 22rem;
  }
}

.section-stories {
  position: relative;
  padding: 6rem 0;
}

.section-book {
  padding: 6rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}

.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../../img/nat-10.jpg);
  background-size: cover;
  width: 70%;
  border-radius: 3px;
  box-shadow: 0 15px 40px rgba($color-black, 0.2);
  padding: 2rem 3rem;

  @include respond(tab-land) {
    background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 60%,
      transparent 60%
    ),
    url(../../img/nat-10.jpg);
    width: 90%
  }

  @include respond(phone) {
    background-image: linear-gradient(
      to right,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 100%
    ),
    url(../../img/nat-10.jpg);
    width: 95%;
  }
}
