.footer {
    background-color: #333;

    &__logo-box {
        text-align: center;
    }

    &__logo {
        width: 10%;
        height: auto;
        margin-top: 6rem;

        @include respond(phone) {
            width: 30%;
            margin-top: 4rem;
        }
    }

    &__container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        padding: 5rem 8rem;

        @include respond(phone) {
            padding: 4rem 5rem;
            justify-content: center;
            row-gap: 1rem;
        }
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        column-gap: 0.7rem;
        row-gap: 0.7rem;
        list-style: none;
    }

    &__link {
        &:any-link {
            color: $color-white;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 700;
        }

        &:hover, &:focus {
            @include transition-ease;
            display: inline-block;
            color: $color-primary;
            transform: scale(1.1) translateY(-3px);
            box-shadow: 0 10px 15px rgba($color-black, 0.4);
        }
    }

    &__copyright, &__list{
        border-top: 1px solid $color-grey-dark;
        padding-top: 1rem;
    }

    &__p {
        color: $color-white;
    }
}