.feature-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 4rem;

    @include respond(tab-land) {
      justify-content: space-around;
    }

    @include respond(phone) {
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
    }
  

  &__card {
    max-width: 22%;
    border-radius: 3px;
    background-color: rgba($color-white, 0.8);
    box-shadow: 0 15px 40px rgba($color-black, 0.5);
    font-size: 1rem;
    padding: 2rem;
    margin: 2rem 0;
    text-align: center;
    @include transition-ease;

    &:hover, &:focus {
        transform: translateY(-20px) scale(1.03);
    }

    @include respond(tab-land) {
      max-width: 35%;
    }

    @include respond(phone) {
      max-width: 100%;
    }
  }

  &__icon {
    font-size: 4rem;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
